body {
  /*padding-top: 40px;*/
  padding-bottom: 40px;
  /*background-color: #FF5151;*/
  background-image:url("/cpic2022/image/black1.jpg");
}
.text-ye{
  color:#d9d920;
}
.text-blue{
  color:#00BFFF;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.hardimage1{
    background-image:url("/cpic2022/image/black.jpg");
}
.inputcolor{
  background-color: #FF5151;
}
